:root {
  --basic-font: "Orbitron", sans-serif;
}

h1 {
  font-family: var(--basic-font);
  font-weight: 900;
  font-size: 96px;
  font-style: normal;
  color: blue;
}

h2 {
  font-family: var(--basic-font);
}
